
.headings{
    margin-top: 3em;
    text-align: center;
}

.playersHeading{
    font-weight: 700;
    padding-bottom: 30px;
}


.playerstable{
    width: 50%;
    height: 100%;
    border: 3px groove rgb(70, 5, 131);
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.getbtn{
	display: block;
	text-align: center;
	margin: 0 auto;
}

.getbtn:hover{
	background-color:black;
	color:yellow;
}

.playersHeader{
    background-color: rgb(70, 5, 131);
    color: white;
}

img {
    width: 80px;
    height: 80px;
    margin: 10px;
}

a{
    font-size: 23px;
}

table td, th {
    vertical-align: middle;
}   

.playernames{
    font-size: 30px;
    font-weight: 700;
}

.playerInfo{
    font-size: 30px;
    font-weight: 700;
}

.playernames:hover{
    color: darkblue;
    cursor:pointer;
}

.tableStar{
	font-size: 25px;
	transition: 0.5s;
}

.tableStar:hover{
	font-size: 50px;
	transition: 0.3s;
}