<div class="animate__animated animate__fadeInRight">
    <h3 class="headings playersHeading">List of Your ⭐ Players</h3>
    <!-- <button class="getbtn" (click)="getData()">GET DATA</button> -->
      <table class="playerstable table">
        <tr class="playersHeader">
          <th><h5>&nbsp;</h5></th>
          <th><h5>Player</h5></th>
          <th><h5>Age</h5></th>
          <th><h5>Remove</h5></th>
        </tr>
        <tr *ngFor="let player of playersData">
          <td> <img src={{player.playerPic}}></td>
          <td><h5 class="playernames" (click)="onPlayerSelection(player.playerId)">{{player.firstName}}&nbsp;{{player.lastName}}</h5></td>
          <td><h5 class="playerInfo">{{player.age}}</h5></td>
          <td><button (click)="onDeletePlayer(player.id)" type="button" class="btn btn-danger">Delete</button></td>
        </tr>
      </table>
  </div> 
  