<div *ngFor="let thePlayer of playerInfo" class="card">
    <h2 style="text-align:center"></h2>
    <img src={{thePlayer.player.photo}} alt="John" class="text-center" style="width:100%">
    <h1 class="teamName">{{thePlayer.player.firstname}}&nbsp;{{thePlayer.player.lastname}}</h1>
    <p class="title">{{thePlayer.player.name}}</p>
    <table class="playerInfoTable">
      <tr>
        <td>DOB:&nbsp;{{thePlayer.player.birth.date}},&nbsp;{{thePlayer.player.birth.country}} </td>
      </tr>
      <tr>
        <td  *ngIf="(thePlayer.player.height != null); else showNull">Height:&nbsp; {{thePlayer.player.height}}</td>
        <ng-template #showNull><td>Height: &nbsp; N/A</td></ng-template>
      </tr>
      <tr>
        <td  *ngIf="(thePlayer.player.weight != null); else showNullWeight">Weight:&nbsp; {{thePlayer.player.weight}}</td>
        <ng-template #showNullWeight><td>Weight: N/A </td></ng-template>
      </tr>
      <tr>
        <td>Nationality:&nbsp;{{thePlayer.player.nationality}}</td>
      </tr>
    </table>
  
</div>
<div class="pb"></div>