<div class="animate__animated animate__fadeInRight">
  <h3 class="leagueHeading pdt">League Table</h3>
  <!-- <button class="getbtn" (click)="getData()">GET DATA</button> -->
  <table class="leagueTable table">
    <tr class="scorersHeader">
      <th><h5>#</h5></th>
      <th><h5>Team</h5></th>
      <th><h5>Name</h5></th>
      <th><h5>⭐</h5></th>
      <th><h5>GP</h5></th>
      <th><h5>W</h5></th>
      <th><h5>D</h5></th>
      <th><h5>L</h5></th>
      <th><h5>GD</h5></th>
      <th><h5>PTS</h5></th>
      <th><h5>❌</h5></th>
    </tr>
    <tbody>
    <tr *ngFor="let team of leagueData;let i = index">
      <td>{{i+1}}</td>
      <!-- <td><img class="tableImg" src={{team.logo}} width="170" height="170" /></td> -->
      <td (click)="onTeamSelection(team)" class="teamName"><img class="tableImg" src={{team.logo}} width="170" height="170" /></td>
      <td (click)="onTeamSelection(team)" class="teamName"><p>{{team.teamName}}</p></td>
      <td (click)="addToFavTeams(team)" class="tableStar"><p *ngIf="checkTeamStar(team.starred); else showNotStarred">⭐</p> <ng-template #showNotStarred><p>❌</p></ng-template></td>
      <!--games played-->
      <td>{{team.all.matchsPlayed}}</td>
      <!--wins-->
      <td>{{team.all.win}}</td>
      <!--draws-->
      <td>{{team.all.draw}}</td>
      <!--losses-->
      <td>{{team.all.lose}}</td>
      <!--goal difference-->
      <td>{{team.goalsDiff}}</td>
      <!--points-->
      <td>{{team.points}}</td>
      <!--Delete btn-->
      <td><button *ngIf="checkTeamStar(team.starred); else showDelete"
         (click)="onDeleteTeamFromFavs(team.team_id)" 
         class="btn btn-danger" 
         type="button">✖</button> 
         <ng-template #showDelete><p></p></ng-template></td> 
    </tr>
    <tbody>
  </table>
</div>
<div class="pb"></div>